https://www.academis.eu/pandas_go_to_space/


jupyter notebook 
** shortcuts**
- shift + enter - executes a cell
- Esc + a - creates a new cell above
- Esc + ba - creates a new cell below
- Esc + x deletes a cell
- Esc + y/m converts cell type to Python/Markdown

math formulas use LaTeX notation: $\sum X_i ^ 24

In [4]:
# execute arbitrary terminal commands
!python -m pip install pandas

Requirement already satisfied: pandas in c:\users\bbeuka\appdata\roaming\python\python313\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bbeuka\appdata\roaming\python\python313\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bbeuka\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bbeuka\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bbeuka\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\bbeuka\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
print("hello workds")

hello workds

In [7]:
import pandas as pd
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [10]:
#create a table with columns/rows
pd.DataFrame({
    "planets":["pandalor", "tatooine", "hoth","naboo"],
    "size":[10, 11, 12, 13]
})

    planets  size
0  pandalor    10
1  tatooine    11
2      hoth    12
3     naboo    13

In [11]:
df = pd.DataFrame({
    "planets":["pandalor", "tatooine", "hoth","naboo"],
    "size":[10, 11, 12, 13]
})
df

    planets  size
0  pandalor    10
1  tatooine    11
2      hoth    12
3     naboo    13

https://www.academis.eu/pandas_go_to_space/read_write_data/README.html

In [12]:
import pandas as pd

df = pd.read_csv('panda_sector.csv', index_col=0, sep=',', header=0)

In [18]:
df = pd.read_excel('penguin_sector.xlsx', index_col=0)
df.head(3)

            name          x          y          z class  size
300      Tarakis  35.387138  75.818501  45.896348     B    18
301  Boradis III  95.862718  74.342379  91.938740     A     6
302  Nelvana III  18.437092  61.194051  17.609547     M     3

In [19]:
df.to_csv('penguin_sector_output.csv')

In [14]:
!python -m pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
from sqlalchemy import create_engine

conn = create_engine('postgres//user:psw@host:port/dbname')
df = pd.read_sql('SELECT * FROM penguins', conn)

ArgumentError: Could not parse SQLAlchemy URL from given URL string

In [20]:
pd.read_clipboard()

,,,from,sqlalchemy,import,create_engine
conn,=,create_engine('postgres//user:psw@host:port/dbname'),,,,
df,=,pd.read_sql('SELECT,*,FROM,"penguins',",conn)