https://www.academis.eu/pandas_go_to_space/select_rows_and_columns/README.html

Challenge
Select rows from the crew roster crew.csv to find your five officers. You have a couple of hints:

all of your officers have at least 12 white spots.

three of your officers have exactly 9 black spots.

none of your officers has white ears or black ears.

the Helmspanda (responsible for steering the ship) has the id 247.

the Data Science Officer (responsible for DS of course) has more than 18 white spots. They also have their ears dyed in indigo.

the Paw Plant (responsible for the reactor and engines) has more white spots than the Pandalorian.

the Pandalorian (responsible for weapons and tactics) has an unknown ear color. They wear a helmet all the time.

the Bamboo Chef (responsible for nutrition) has their ears dyed in chartreuse. They have fewer white spots than the paw plant.

Identify all five of them.

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('crew.csv')
df.head()

   id  white_spots  black_spots      ears
0   0            7            6    indigo
1   1           15           19      pink
2   2           11           12     white
3   3            8            7  piercing
4   4            7           10     black

In [9]:
ws = df[df['white_spots']>=12]
ws

      id  white_spots  black_spots       ears
1      1           15           19       pink
5      5           19           19       neon
12    12           12            9      black
16    16           12           13     orange
17    17           12           17       neon
..   ...          ...          ...        ...
490  490           19           17  peachpuff
492  492           16            6       neon
493  493           13           19      white
495  495           17            1      white
497  497           13            7        NaN

[207 rows x 4 columns]

In [10]:
b = df[df['black_spots']==9]
b

      id  white_spots  black_spots        ears
12    12           12            9       black
33    33           14            9   peachpuff
52    52            4            9    piercing
55    55            2            9       black
82    82            3            9   peachpuff
99    99            8            9      indigo
179  179            6            9        blue
186  186           16            9  chartreuse
228  228            3            9       green
242  242           14            9         NaN
255  255           13            9  chartreuse
307  307           14            9       white
309  309           14            9   peachpuff
320  320           11            9  chartreuse
329  329            6            9         NaN
429  429           16            9       white
433  433            7            9      orange
445  445           17            9       black
446  446            4            9       white
448  448            9            9         NaN
469  469           11            9  chartreuse

In [12]:
c = b[(b['ears'] != 'black') & (b['ears'] != 'white')]
c

      id  white_spots  black_spots        ears
33    33           14            9   peachpuff
52    52            4            9    piercing
82    82            3            9   peachpuff
99    99            8            9      indigo
179  179            6            9        blue
186  186           16            9  chartreuse
228  228            3            9       green
242  242           14            9         NaN
255  255           13            9  chartreuse
309  309           14            9   peachpuff
320  320           11            9  chartreuse
329  329            6            9         NaN
433  433            7            9      orange
448  448            9            9         NaN
469  469           11            9  chartreuse

In [13]:
df.loc[247]

id              247
white_spots      17
black_spots       6
ears           neon
Name: 247, dtype: object

In [14]:
d = df[(df['white_spots'] > 18) & (df['ears']  == 'indigo')]
d

      id  white_spots  black_spots    ears
251  251           19            6  indigo