https://www.academis.eu/pandas_go_to_space/inspect_data_frames/README.html

In [4]:
import pandas as pd

df = pd.read_csv('ship_inspection.csv')

In [5]:
df.head(3)

   station status  life support [%]  life forms security
0   bridge     OK               100           1      red
1  reactor     OK                 0           0      red
2  engines     OK                 0           0      red

In [6]:
df.tail(3)

          station status  life support [%]  life forms security
15     hyperdrive     OK                 0           0   orange
16            bar     OK               100           0    green
17  computer core     OK               100           0      red

In [7]:
df.shape

(18, 5)

In [8]:
df.dtypes

station             object
status              object
life support [%]     int64
life forms           int64
security            object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   station           18 non-null     object
 1   status            18 non-null     object
 2   life support [%]  18 non-null     int64
 3   life forms        18 non-null     int64
 4   security          18 non-null     object
dtypes: int64(2), object(3)
memory usage: 852.0+ bytes

In [11]:
df['station'].value_counts()

station
bridge              1
reactor             1
engines             1
shuttle bay         1
bamboo grove        1
waterfall           1
shield generator    1
quarters            1
cargo bay           1
quarantine          1
medical             1
comms               1
laser control       1
airlock             1
life support        1
hyperdrive          1
bar                 1
computer core       1
Name: count, dtype: int64

In [12]:
df['status'].unique()

array(['OK', 'under construction'], dtype=object)

display the number of rows and columns

display the last 5 rows

list the column names

how many life forms are there on the bridge?

how many stations does the ship have?

how many different security levels are there?

there is one life support value that is neither 0 or 100%. How much is it?

In [22]:
# display the number of rows and columns

df.rows= df.shape[0]
print(f'The dataset contains {df.rows} rows  .')

The dataset contains 18 rows  .

In [23]:
df.columns

Index(['station', 'status', 'life support [%]', 'life forms', 'security'], dtype='object')

In [24]:
len(df.columns)

5

In [25]:
df.tail(5)

          station status  life support [%]  life forms security
13        airlock     OK               100           0     blue
14   life support     OK               100           0   orange
15     hyperdrive     OK                 0           0   orange
16            bar     OK               100           0    green
17  computer core     OK               100           0      red

In [29]:
# ~how many life forms are there on the bridge?
df['life forms']

0         1
1         0
2         0
3         0
4     15783
5        15
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
Name: life forms, dtype: int64

In [30]:
# how many stations does the ship have?

df['station'].nunique()

18

In [32]:
# how many different security levels are there?

df['security'].nunique()

4

In [36]:
# there is one life support value that is neither 0 or 100%. How much is it?
if df['life support [%]'].isin([0, 100]).all():
    print("All life support values are either 0 or 100%.")